MONGO_URI=mongodb://127.0.0.1:27017/helphub
JWT_SECRET=jwtab@123
ADMIN_SECRET=AdminSecRet@12
BCRYPT_ROUND=8
EXPIRES_IN=1d
PORT=8080
SUPERVISOR_INVITATION_CODE=supervisor_helphub
AGENT_INVITATION_CODE=agent_helphub